<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestAll">
    <test name="case1">
        <classes>
            <class name="vn.myclass.core.test.LoginTest"/>
            <class name="vn.myclass.core.test.ListenGuidelineTest"/>
            <class name="vn.myclass.core.test.ReviewHashMap"/>

        </classes>
    </test>
</suite>